/* Library View
======================================= */


.library-view {
  overflow: auto;
}

/* Library Info
--------------------------------------- */


.library-view .library-info {
  background: #2d3538;
}

.library-view .library-info .inner {
  margin: 0px auto;
  max-width: 700px;
  padding: 20px;
  color: rgba(255,255,255,0.8);
}

.library-view .library-info .title {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 30px;
  padding: 20px 0;
}

.library-view .library-info .description {
  font-size: 20px;
  color: rgba(255,255,255,0.6); 
  padding-bottom: 20px;
}

.library-view .library-info .links {
  padding-bottom: 20px;
}

.library-view .library-info .links a {
  color: rgba(255,255,255,0.8);
}

.library-view .library-info .links a:hover {
  color: rgba(255,255,255,1);
}


/* Collections
--------------------------------------- */

.library-view .collections {
  padding: 20px;
  overflow: auto;
  font-size: 14px;
  background: white;
  margin: 0px auto;
  max-width: 700px;
}

.library-view .collection {
  position: relative;
  opacity: 0.9;
  display: block;
  padding: 20px 0px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.library-view .collection .teaser {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 100px;
  border-radius: 50px;
}

.library-view .collection .name {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 26px;
}

.library-view .collection .description {
  color: rgba(0,0,0, 0.7);
  padding: 10px 0;
  margin-right: 100px;
  max-width: 700px;
  font-size: 18px;
}

.library-view .collection .count {
  font-size: 16px;
  font-style: italic;
  color: rgba(0,0,0, 0.5);
}


/* Collection View
======================================= */

.collection-view {
   background: white;
}


/* Collection metadata */

.collection-view .collection {

  position: relative;
  display: block;
  /*padding: 40px;*/
  /*padding-top: 20px;*/
  /*margin-left: 30px;*/
  /*margin-right: 20px;
  margin-bottom: 20px;*/
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.collection-view .collection .inner {
  position: relative;
  max-width: 700px;
  padding: 40px 20px;
  margin: 0 auto;
}

.collection-view .collection .teaser {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 100px;
  border-radius: 50px;
}

.collection-view .collection .path {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 26px;
}

.collection-view .collection .sep { 
  padding: 0px 10px;
}

.collection-view .collection .description {
  color: rgba(0,0,0, 0.6);
  padding: 10px 0;
  margin-right: 120px;
  font-size: 18px;
}

/* Records stuff */

.collection-view .records {
  max-width: 700px;
  padding: 40px 0px;
  margin: 0px auto;
}

.collection-view .record {
  display: block;
  background: white;
  padding: 20px 20px;
}

.collection-view .record a.title {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 22px;
  line-height: 30px;
}

.collection-view .record .date {
  font-size: 16px;
  color: #777;
  font-style: italic;
}

.collection-view .record .authors {
  color: #555;
  font-size: 18px;
  padding: 5px 0;
}
