/* Library View
======================================= */

.library-view {
  overflow: auto;
}

.library-view .collections {
  padding: 20px;
  
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.library-view .collection {
  position: relative;
  opacity: 0.9;
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-right: 20px;
  margin-bottom: 20px;
}

.library-view .collection .name {
  color: rgba(0,0,0, 0.8);
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
}

.library-view .collection .count {
  font-size: 14px;
  color: rgba(0,0,0, 0.5);
}

.library-view .collection:hover {
  opacity: 1;
}

.library-view .collection.active {
  background: #fff;
}

.library-view .navigation .label {
  margin-top: 30px;
  padding-bottom: 20px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
}

/* Collection View
======================================= */

.collection-view {
   background: white;
   position: absolute;
   left: 0px;
   top: 0px;
   bottom: 0px;
   width: 800px;
}

.collection-view a.document {
  display: block;
  background: white;
  height: 160px;
  padding: 30px 30px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.collection-view a.document .title {
  color: #1B6685;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 18px;
}

.collection-view a.document .authors {
  color: #777;
  font-size: 15px;
  padding: 10px 0;
}

.collection-view a.document:hover .title {
  color: rgba(11, 157, 217, 1);
}
