.library {
  overflow: auto;
}

.library .collection-toggles {
  padding: 20px;
  
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
}

.library .collection {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  display: block;
  padding: 20px 10px;
}

.library .collection:hover {
  background: rgba(255,255,255,0.6);
}

.library .collection.active {
  background: #fff;
}

.library .navigation .label {
  margin-top: 30px;
  padding-bottom: 20px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
}

/* Main collection */

#main .collection {
   background: white;
   position: absolute;
   left: 300px;
   top: 0px;
   bottom: 0px;
   width: 800px;
}

#main .collection a.document {
  display: block;
  background: white;
  width: 400px;
  height: 160px;
  padding: 30px 30px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  float: left;
}

#main .collection a.document .title {
  color: #1B6685;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
}

#main .collection a.document .authors {
  color: #777;
  font-size: 15px;
  padding: 10px 0;
}

#main .collection a.document:hover .title {
  color: rgba(11, 157, 217, 1);
}
